.form-group {
    margin: 0 !important;
}
.otp-digit{
    margin-right: 10px;
}
.otp-digit {
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

.error-text{
    color: red;
}